
body {
    margin: 0;
    overflow: hidden;
    background-color: black;
    font-family: -apple-system, system-ui, BlinkMacSystemFont,helvectica;
  }
  
  .modal {
    display: none;
    position: fixed;
    z-index: 1;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.9);
    align-items: center;
    justify-content: center;
    transition: opacity 0.5s ease;
  }
  .modal.show {
    opacity: 1; 
  }
  .modal-content {
    max-width: 100%;
    max-height: 100%;
    overflow: scroll;
  }
  .modal-image {
    object-fit: fill;
    height:100%;
    width:100%;
    filter: blur(8px) brightness(50%);
  }
  .content-image {
    border-radius: 0px;
    width: 50% !important;
  }
  .close {
    position: absolute;
    top: 15px;
    right: 35px;
    color: white;
    font-size: 30px;
    font-weight: bold;
    cursor: pointer;
    z-index: 10000;
  }
  
  /* Mobile Styles */
  /*
  @media only screen and (max-width: 600px) {
    #image-track {
      position: fixed;
      top: 50%;
      left: 50%;
      transform: translate(-50%, -50%);
      width: 100%;
      height: 100vh;
      display: flex;
      flex-direction: column;
      gap: 4vmin;
      -webkit-user-select: none;
      user-select: none;
    }
  
    .image-container {
      width: 100%;
      height: 75vh; 
      position: relative;
    }
  
    .image {
      width: 100%;
      height: 100%;
      object-fit: cover; 
      object-position: center 100%;
      filter: brightness(80%);
    }
    .text-overlay {
      position: absolute;
      top: 50%;
      left: 50%;
      transform: translate(-50%, -50%);
      color: white;
      font-size: 1.5em;
      text-align: center;
      overflow-y: scroll;
    }
    .image-container:hover > .image {
      filter: brightness(60%);
      transition: filter 0.3s ease;
      cursor: pointer;
    }
  
  }
  */
  
  /* Desktop Styles */
    #image-track {
      display: flex;
      gap: 5vmin;
      position: absolute;
      left: 50%;
      top: 50%;
      transform: translate(-50%, -50%);
      -webkit-user-select: none;
      user-select: none;
    }
  
    .image-container {
      width: 60vmin;
      height: 76vmin;
      position: relative;
    }
  
    .image {
      width: 105%;
      height: 100%;
      object-fit: cover;
      object-position: 100% center;
      transition: filter 0.3s ease;
      filter: brightness(80%);
    }
    .darker {
      filter: brightness(70%);
    }
    .image-container:hover > .image {
      filter: brightness(60%);
      transition: filter 0.3s ease;
      cursor: pointer;
    }
    .text-overlay {
      position: absolute;
      top: 50%;
      left: 50%;
      transform: translate(-50%, -50%);
      color: white;
      font-size: 3em;
      text-align: center;
      overflow-y: scroll;
    }
    .text-overlay h1 {
      font-size: 1em;
    }
    .text-overlay ul{
      text-align: left;
      font-size: 0.5em;
    }
    .text-overlay p {
      font-size: 0.3em;
      text-align: left;
    }
    .text-overlay a {
      text-align: left;
      text-decoration: none;
      color: #c2c2c2;
    }
    @media only screen and (max-width: 600px) {
      #image-track {
        position: fixed;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
        width: 100%;
        height: 100vh;
        display: flex;
        flex-direction: column;
        gap: 4vmin;
        -webkit-user-select: none;
        user-select: none;
        overflow-y: scroll;
      }
    
      .image-container {
        width: 100%;
        height: 100%; 
        position: relative;
      }
    
      .image {
        width: 100%;
        height: 100%;
        object-fit: cover; 
        object-position: center 100%;
        filter: brightness(80%);
      }
      .text-overlay {
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
        color: white;
        font-size: 1.5em;
        text-align: center;
        overflow-y: scroll;
      }
      .image-container:hover > .image {
        filter: brightness(60%);
        transition: filter 0.3s ease;
        cursor: pointer;
      }
      img {
        overflow: visible;
      }
    }
  @keyframes float {
    from, to {
      transform: translateY(-0%);
    }
  
    50% {    
      transform: translateY(-3%);
    }
  }
  
  @keyframes background-pan {
    from {
      background-position: 1000% center;
    }
  
    to {
      background-position: 0% center;
    }
  }
  .line {
    display: flex;
    justify-content: space-between;
  
  }
  
  .word {
    color: white;
    font-size: clamp(2rem, 4vw, 5rem);
    margin: 0rem;
    text-transform: uppercase;
    transition: opacity 250ms ease;
  }
  
  a {
    text-decoration: none;
  }
  #text {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding: 10px;
    -webkit-user-select: none;
    user-select: none;
    z-index: 10000000;
  }
  #text:has(.fancy:hover) .word:not(.fancy:hover) {
    opacity: 0.2;
  }
  
  .fancy span {
    display: inline-block;
    -webkit-user-select: none;
    user-select: none;
}
  
  .fancy > .outer {
    transition: transform 350ms ease;
  }
  
  .fancy:hover > .outer {
    transition-duration: 800ms;
  }
  
  .fancy:hover > .outer > .inner {
    animation: float 5s ease infinite;
  }
  
  .fancy:hover > .outer > .inner > .letter {
    background: linear-gradient(
      to right,
      var(--blue),
      var(--green),
      var(--blue)
  
    );
    background-size: 1000%;
    -webkit-background-clip: text;
    background-clip: text;
    -webkit-text-fill-color: transparent;
    animation: background-pan 150s linear infinite;
  }
  
  .fancy:hover > .outer:nth-child(1) {
    transform: translate(-80%, 60%) rotate(8deg);
  }
  
  .fancy:hover > .outer:nth-child(2) {
    transform: translate(-40%, 20%) rotate(4deg);
  }
  
  .fancy:hover > .outer:nth-child(3) {
    transform: translate(-10%, 60%) rotate(-6deg);
  }
  
  .fancy:hover > .outer:nth-child(4) {
    transform: translate(0%, 8%) rotate(-8deg);
  }
  
  .fancy:hover > .outer:nth-child(5) {
    transform: translate(0%, -20%) rotate(5deg);
  }
  
  .fancy:hover > .outer:nth-child(6) {
    transform: translate(0%, 20%) rotate(-3deg);
  }
  
  .fancy:hover > .outer:nth-child(7) {
    transform: translate(0%, -40%) rotate(-5deg);
  }
  
  .fancy:hover > .outer:nth-child(8) {
    transform: translate(0%, 15%) rotate(10deg);
  }
  
  .fancy:hover > .outer:nth-child(9) {
    transform: translate(0%, -50%) rotate(8deg);
  }
  
  .fancy:hover > .outer:nth-child(10) {
    transform: translate(0%, 15%) rotate(-6deg);
  }
  
  .fancy:hover > .outer:nth-child(11) {
    transform: translate(50%, -10%) rotate(-3deg);
  }
  
  .fancy:hover > .outer:nth-child(12) {
    transform: translate(120%, -30%) rotate(-10deg);
  }
  